<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인 페이지</title>
</head>
<body>
  <h1>로그인 페이지입니다.</h1>
  <div class="form">
    <form method="post" th:action="@{/login}">
      <div th:if="${error != null}">
        <p class="error">아이디나 비밀번호가 맞지 않습니다.</p>
      </div>
      <div>
        <input type="text" id="username" name="username" placeholder="로그인 아이디">
      </div>
      <div>
        <input type="text" id="password" name="password" placeholder="비밀번호">
      </div>
      <div>
        <button type="submit">로그인</button>
        <button type="reset">취소</button>
      </div>
    </form>
  </div>
</body>
</html>
